#TOKEN ACESS
SECRET_KEY=

# DATABASE LOGIN CONFIG
DATABASE_PASSWORD=
DATABASE_NAME=
HOST=
DIALECT=
USER=
DATABASE_PORT=

# DATABASE CHAT CONFIG
DATABASE_CHAT_PASSWORD=
DATABASE_CHAT_NAME=
HOST_CHAT=
DIALECT_CHAT=
USER_CHAT=
DATABASE_CHAT_PORT=

#SERVER CONFIG
PORT=
WEB_SOCKET_PORT=

#OPENAI
OPENAI_API_KEY=